<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Sign In</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <table>
          
        <mat-card-content>
          <tr>
          <mat-form-field appearance="fill">
          <mat-label>Enter Username</mat-label>
            <input matInput placeholder="Username" name="username" id="username" [(ngModel)]="model.username" #username="ngModel">  
            <span matSuffix>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>          
          </mat-form-field>
          
        </tr>
        <tr>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" id="password" name="password" [(ngModel)]="model.password" #password="ngModel">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </tr>
        </mat-card-content>
        <button mat-raised-button color="primary" class="btn-block">Sign-in</button>
        <mat-error *ngIf="showError">Wrong credentials</mat-error>

      </table>
      </form>
    </mat-card>
  
  </div>
